*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat',
    sans-serif;
}
html{
    scroll-behavior: smooth;
    transition: 2s;
}
.left-icon-slider , .right-icon-slider{
    cursor: pointer;
}
.not-visible{

}
body{
    background-color: #010020;
    height: 200vh;
    align-content: center;
    overflow-x: hidden;

}
.background-design{
    position: absolute;
    z-index: -1;

}
.background-design svg{
    margin: 0;
}
.white-color{
    color: #cccc;
}
.logo{
    height: 20px;
    width: 70px;
}
.logo-container{
    flex-grow: 1;
}
.navbar{
    margin: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.nav{
    display: flex;
    flex-wrap: wrap;
}
.nav li a , .nav div{
    color: antiquewhite;
    text-decoration: none;
    margin-right:30px ;
}
.nav li{
    list-style: none;
}
.section{
    min-height: 90vh;
    padding: 5%;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content-image-slider{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-image-slider img{
    filter: drop-shadow(10px 2px 10px #222);
}
.section1-content{
    flex-grow: 1;
}
.section1-content-main{
    margin: 10px 0;
}
.btn{
    padding: 10px;
    margin-top: 50px;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 10px;
    
}
.btn-primary{
    background-color: green;
    color: white;
}
.btn-primary a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.btn-secondary{
    background-color: white;
    color: green;
}
.btn-secondary a{
    color: green;
    text-decoration: none;
}
.header1{
    font-size: 55px;
    font-weight: 600;
}.header2{
    font-size: 20px;
}.header3{
    font-size: 15px;
}
.section2{
    background-color: rgb(113, 113, 124);
}
.section2-about{
    color: #ccc;
}
.section3{
    background-color: #eee;
    color: #555;
}
.content-about{
    margin-bottom:30px;
    max-width: 1400px;
}
.feedbacks-container{
    margin-top: 50px;
    min-height: 80vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.feedback {
    position: relative;
    font-size: 20px;
    width: 270px;
    box-shadow: 2px 2px 20px rgb(165, 165, 165);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.feedback img{
    position: relative;
    height: 400px;
}
.feedback-initial{
    font-weight: 600;
    margin-bottom: 20px;
    text-align: end;
}
.feedback-content{
    margin: 20px;
}
@media only screen and (max-width:470px){
    .header1{
        font-size: 35px;

    }
}